version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: jp_postgres_db
    environment:
      POSTGRES_DB: jp_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: jp_postgres_ui
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com #${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: password #${PGADMIN_DEFAULT_PASSWORD}
      TZ: Asia/Yangon
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - app-network

volumes:
  postgres_data:
networks:
  app-network:
    driver: bridge