server:
  port: 8080
spring:
  application:
    name: japanese-app
  profiles:
    active: dev

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
      show-sql: true



#custom config
api:
  base:
    path: japan-app/api
